$color-white: #fff;
$color-grey-light: #fbfbfb;

$color-text-primary: #767575;
$color-text-primary-light: #d1d1d1;


$color-purple-light: #7377bf;
$color-purple-dark: #4d4c71;

$color-light-green: #80ca8e;
$color-turkis-dark: #74b1bf;

//Buttons color #6d6d6d
